.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 4px 10px;
    background-color: #228B22;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    font-weight: bolder;
}
.text-center{
    text-align: center;
}